header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 1;
    background: rgba(55, 51, 49, 0.9);
}
.nav-up {
    top: -80px;
}
header > img {
    padding: 20px;
    width: 50px;
    height: 40px;
    float: left;
}
header > a {
    position: absolute;
    right: 100px;
    top: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}