.menu-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.hidden {
    display:none;
}
.show {
    opacity: 1;
    transform: translateY(0%);
}
div > a {
    transform: translateY(-100%);
    transition: transform 0.5s, opacity 1s;
    opacity: 0;
    color: #20242F;
    display: block;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.link-container {
    position: fixed;
    top: 30%;
    right:100px;
    z-index: 1;
}