@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

.text {
  font-family: 'Muli', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.text.hidden {
  border-bottom: 1px solid #fff;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.8s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

h4 {
  float: left;
  padding-left: 50px;
  padding-bottom: 5px;
  margin-left: 200px;
  margin-right: 100px;
  position: relative;
}
h1 {
  float: left;
  padding-left: 50px;
  display: inline-block;
  position: relative;
}
h1:before{
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  left: 50px;
  border-bottom: 1px solid #2a2a2b;
}