@font-face {
  font-family: 'ansonregular';
  src: url('./styles/anson/anson-regular-webfont.eot');
  src: url('./styles/anson/anson-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./styles/anson/anson-regular-webfont.woff') format('woff'),
       url('./styles/anson/anson-regular-webfont.ttf') format('truetype'),
       url('./styles/anson/anson-regular-webfont.svg#ansonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.App {
  text-align: center;
  overflow: hidden;
  
}
.round {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #f1f1f1;
  color: #242124;
}
.round:hover {
  background-color: #ddd;
  color: #242124;
}
.left {
  top: 40%;
  left: 0px;
}
.right {
  top: 40%;
  right: 10px;
}
.gallery-container {
  position: fixed;
}
.content {
  position: absolute;
  top: 100vh;
  background-color: white;
}
